@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: azure;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 23px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 3px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: rgba(24, 1, 1, 0.5);
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.panel.active {
    flex: 5;
    transition: 1s ease-in;
}
.panel.active h3 {
    opacity: 1;
    font-size: 23px;
    /* property name | duration | easing function | delay */
    transition: 0.7s ease-in;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}